<app-header titulo="Date Time"></app-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
        <ion-datetime [value]="fechaNaci.toISOString()"
        displayFormat="DD/MM/YYYY"
        (ionChange)="seCambioFecha($event)"
        ></ion-datetime>
      </ion-item>
      <ion-list-header>
        <ion-label>Restrincciones</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Fecha de nacimiento</ion-label>
          <ion-datetime
          displayFormat="DD/MM/YYYY"
          min="2015-01-01"
          max="2025-12-31"
          ></ion-datetime>
        </ion-item>
        <ion-list-header>
          <ion-label>Restrincciones</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Fecha de nacimiento</ion-label>
            <ion-datetime
            displayFormat="YYYY"
            min="2015"
            max="2025"
            ></ion-datetime>
          </ion-item>
  </ion-list>
</ion-content>
