<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons 
    slot="start" 
    >
      <ion-back-button
      defaultHref="/"
      text="regresar"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Alert"></app-header>
<ion-content>
  <ion-button (click)="mostrarAlerta()" expand="block">
    Alerta simple
  </ion-button>
  <ion-button (click)="mostrarAlertaMultiple()" expand="block">
    Alerta multiple
  </ion-button>

  <ion-button (click)="mostrarAlertaCompleja()" expand="block">
    Alerta compleja
  </ion-button>
</ion-content>
